@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    filter: invert(100%);
}
